<% for (const item of menu) { %>
<div style="display: flex; flex-flow: row; align-items: center;">
    <div style="min-width: 20%;">
        <h2 style="margin: 1rem">
        <% if( item.href != "" ){ %>
            <a href="<% item.href %>" role="button" style="min-width: 8rem" target="_blank">
                <% item.caption %>
            </a>
        <% } else { %>
            <% item.caption %>
        <% } %>
        </h2>
    </div>
    <div>
        <details style="margin: 1rem;">
            <summary>
                <% item.title %>
            </summary>
            <% if(item.subTitle !== undefined) { %>
            <p>
                <% item.subTitle %>
            </p>
            <% } %>

            <p>
                Released:&nbsp;<% item.released %>
                </br>
                Current version:&nbsp;<% item.version %>
            </p>
            <p>
                <% item.module %> </br>
                <a href="<% item.github %>" target="_blank">
                    <% item.github %>
                </a>
            </p>
            <p>
                <% item.microservice %> </br>
                <a href="<% item.href %>" target="_blank">
                    <% item.href %>
                </a>
            </p>
            <p>
                Import in your deps.ts file using: </br>

                    <pre>export * as&nbsp;<% item.caption.substring(4,7) %>&nbsp;from "<% item.import %>";</pre>

            </p>
            <p>
                Get github file: </br>
            
                <a href="/markup/<% item.caption %>" target="_blank">
                    readme.md
                </a>
            
            </p>
        </details>
    </div>

</div>
<% } %>