<div style="display: flex; flex-flow: row; align-items: center;"></div>
<% for (let property in record) { 
    const item = record[property];
    const href = (item.deploy != "") ? item.deploy: item.github;
    %>
    <details style="margin: 1rem;">
        <summary>
            <h3 style="font-size: 1.25rem;">
                <a href="<% href %>" role="button" style="min-width: 6rem; margin-right: 2rem;" target="_blank">
                    <% item.caption %>
                </a>
                <% item.title %>
            </h3>
        </summary>
        <p>
            Current version:&nbsp;<% item.version %></br>
            Last release:&nbsp;<% item.released %></br>
            Since:&nbsp;<% item.since %></br></br>
            <% if(item.subTitle !==undefined) { %>
                <% item.subTitle %></br>
            <% } %>
        </p>
        <h4>Library</h4>
        <p>
            <% item.library %> </br>
            <pre><a href="<% item.github %>" target="_blank">
                <% item.github %>
            </a> </pre>

            Import the library in your deps.ts file using: </br></br>
            <pre>export * from "<% item.import %>";</pre>

            The library has the following Apg dependencies:</br></br>
            <pre>
                <% for (const id of item.libDeps) { %>
                <a href="<% record[id].github %>" target="_blank">
                    <% id %>
                </a>,
                <% } %>
            </pre>
        </p>
        <h4>Microservice</h4>
        <p>
            <% item.microservice %></br>
            <% if(item.deploy){ %>
            <pre><a href="<% item.deploy %>" target="_blank">
                <% item.deploy %>
            </a></pre>
            <% } %>
            <% if(item.srvDeps){ %>
                The microservice has the following additional Apg dependencies:</br></br>
                <pre>
                    <% for (const id of item.srvDeps) { %>
                    <a href="<% record[id].github %>" target="_blank">
                        <% id %>
                    </a>,
                    <% } %>
                </pre>
            <% } %>
        </p>
        <h4>Markdown</h4>
        <p>
            <a href="/markdown/<% item.caption %>" target="_blank">
                readme.md
            </a>
        </p>
    </details>


<% } %>
</div>